.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.header {

}

.dropzone {
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  height: 300px;
  width: 300px !important;
  border: 1px solid #8c8c8c;
  border-radius: 20px;
  display: flex;


  * {
    margin: auto;
    text-align: center;
  }
}

.over {
  background-color: #383838;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  button {
    cursor: pointer;
    margin: auto 0 0;
    padding: 0 20px;
    border-radius: 8px;
    height: 50px;
    display: flex;

    span {
      margin: auto;
    }
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  input {
    margin-bottom: 10px;
    padding: 8px 16px;
    width: 100%;
  }

  
}

.fileName {
  text-align: center;
}